---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id
);

// Define variables for page content
const title: string = "Productos";
const subTitle: string =
  "Descubra el rendimiento confiable de los extintores de Extintoresdelrisaralda, esenciales tanto para profesionales como para la seguridad del hogar. Cada extintor está fabricado con los más altos estándares, lo que garantiza su funcionamiento eficaz cuando más se necesita.";


const pageTitle: string = `Products | ${SITE.title}`;
const metaDescription = 
  "Explore the durability and precision of Extintoresdelrisaralda tools, designed for both professionals and enthusiasts.";
const ogTitle = "Hardware Tools | Extintoresdelrisaralda";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | Extintoresdelrisaralda",
    description:
      "Explore the durability and precision of Extintoresdelrisaralda tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "Extintoresdelrisaralda",
      description:
        "Extintoresdelrisaralda offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-2xl font-bold tracking-tight text-balance text-neutral-800 md:text-4xl md:leading-tight dark:text-neutral-200"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-(--breakpoint-sm) text-pretty text-neutral-600 md:block dark:text-neutral-400">
              {subTitle}
            </p>
          )
        }
      </div>
    </div>
    
    <section class="space-y-12">
      <div>
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-xl font-bold text-neutral-800 dark:text-neutral-200 flex items-center gap-2">
            Línea de control de incendios
            <div>
               <span class="sr-only">Mostrar/Ocultar</span>
              <svg class="w-5 h-5 transition-transform duration-200 group-open:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg> 
            </div>
          </h2>
        </div>
        <div class="w-full border-t-4 border-neutral-400 dark:border-neutral-600 my-2"></div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
          {product.filter(p => p.data.line && p.data.line.toLowerCase().includes('control de incendios')).map(p => (
            <CardSmall product={p} />
          ))}
        </div>
      </div>
      {/* Línea de primeros auxilios */}
      <div>
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-xl font-bold text-neutral-800 dark:text-neutral-200 flex items-center gap-2">
            Línea de primeros auxilios
            <div>
               <span class="sr-only">Mostrar/Ocultar</span>
                <svg class="w-5 h-5 transition-transform duration-200 group-open:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg>
            </div>
          </h2>
        </div>
        <div class="w-full border-t-4 border-neutral-400 dark:border-neutral-600 my-2"></div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
          {product.filter(p => p.data.line && p.data.line.toLowerCase().includes('primeros auxilios')).map(p => (
            <CardSmall product={p} />
          ))}
        </div>
      </div>

      {/* Línea de demarcación y señalización */}
      <div>
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-xl font-bold text-neutral-800 dark:text-neutral-200 flex items-center gap-2">
            Línea de demarcación y señalización
            <div>
               <span class="sr-only">Mostrar/Ocultar</span>
                <svg class="w-5 h-5 transition-transform duration-200 group-open:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg> 
            </div>
          </h2>
        </div>
        <div class="w-full border-t-4 border-neutral-400 dark:border-neutral-600 my-2"></div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
          {product.filter(p => p.data.line && p.data.line.toLowerCase().includes('demarcación') || p.data.line.toLowerCase().includes('señalización')).map(p => (
            <CardSmall product={p} />
          ))}
        </div>
      </div>

      {/* Línea para carretera */}
      <div>
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-xl font-bold text-neutral-800 dark:text-neutral-200 flex items-center gap-2">
            Línea para carretera
            <div>
               <span class="sr-only">Mostrar/Ocultar</span>
                <svg class="w-5 h-5 transition-transform duration-200 group-open:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg> 
            </div>
          </h2>
        </div>
        <div class="w-full border-t-4 border-neutral-400 dark:border-neutral-600 my-2"></div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
          {product.filter(p => p.data.line && p.data.line.toLowerCase().includes('carretera')).map(p => (
            <CardSmall product={p} />
          ))}
        </div>
      </div>
    </section>
  </div>  
</MainLayout>
